.btn-inscricao {
  background-color: #ffffff;
  text-decoration: none;
  width: 150px;
  font-weight: 510;
  border-color: rgb(3, 10, 62);
  border-width: 2px;
  border-style: solid;
  margin-bottom: 20px;
}

.btn-inscricao:hover {
  width: 150px;
  font-weight: 510;
  background: rgb(3, 10, 62);
  border-color: rgb(3, 10, 62);
  color: #ffffff;

}
