.btn-inscricao {
  text-decoration: none;
  width: 150px;
  font-weight: 510;
  border-color: rgb(3, 10, 62);
  border-width: 2px;
  border-style: solid;
  margin-bottom: 20px;
  & a{
    color: rgb(3, 10, 62);
  }
}

.btn-inscricao:hover {
  width: 150px;
  font-weight: 510;
  background: rgb(3, 10, 62);
  border-color: rgb(3, 10, 62);

  & a{
    color: #ffffff;
  }

}
