p{
    font-family: "Montserrat", sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: inherit;
}

.footer-top{
    color: white;
    background-color: #02185E;
    
    padding: 50px 20px 50px 20px;
}

.footer-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contatos-title h4{
    color: white;
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 5px;
}

.contatos-h4{
    display: flex;
    flex-direction: column;
}

.underline{
    width: 100px;
    height: 5px;
    background: #1E90FF;
    border-radius: 999px;
    box-shadow: 0 0 10px rgba(30,144,255,.35);
}

.contatos-title{
    display: flex;
    align-items: center;
    gap: 12px;
}

.contatos-title img{
    width: 50px;
    height: 50px;

    object-fit: contain;
    display: block;
}

.contatos{
    display: flex;
    align-items: center;
    gap: 12px;
}

.contatos img{
    width: 50px;
    height: 50px;

    object-fit: contain;
    display: block;
}

.social-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-links img{
    width: 15px;
    height: 15px;

    object-fit: contain;
    display: block;
}

.email{
    display: flex;
    align-items: center;
    gap: 12px;
}

.email p{
    margin: 0;
    line-height: 1;
}

.instagram{
    display: flex;
    align-items: center;
    gap: 12px;
    line-height: 1;
}

.copyright{
    color: white;
    background-color: #027BDF;

    display: flex;
    justify-content: center;
}
