:root{
    --azul-escuro:#021B73;
    --azul:#0094FE;
    --azul-claro:#4DAFFF;
    --branco:#FFF;
    --cinza:#F3F3F3;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

/* HERO */

.hero{
    background:
        url("../../img/imagens_novo_site/imagembanner.png");
    
    background-size: 105%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 85px 0;
    font-family: 'Montserrat', sans-serif;
}
.hero .container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:0px;
}

.hero-text{
    max-width:600px;
}

.hero-tag{
    display:inline-block;

    background:#102F70;

    padding:10px 18px;

    border-radius:8px;

    font-size:1rem;

    font-weight:bold;

    margin-bottom:20px;
}

.hero h1{
    font-size:3rem;
    line-height:1.1;
    margin-bottom:20px;
    font-weight:bold;
}

.hero h1 span{
    display:block;
    color:var(--azul-claro);
}

.hero p{
    font-size:1.5rem;
    margin-bottom:30px;
    font-weight:bold;
}

.btn-participar{
    display:inline-block;

    background:var(--azul);

    color:white;

    text-decoration:none;

    padding:16px 32px;

    border-radius:999px;
    

    font-weight:bold;
}

.hero-image img{
    width:550px;
    max-width:100%;
}

/* SOBRE */

.sobre{
    margin-top:-50px;
    padding-bottom:80px;
}

.sobre .container{

    background:var(--azul-escuro);

    color:white;

    border-radius:30px;

    padding:50px;

    display:grid;

    grid-template-columns:
        150px
        1fr
        350px;

    gap:40px;

    align-items:center;
}

.sobre-icon img{
    width:100%;
}

.sobre-text h2{
    margin-bottom:20px;
}

.sobre-text p{
    line-height:1.7;
}

.sobre-cards{
    display:grid;

    grid-template-columns:1fr 1fr;

    gap:20px;
}

.sobre-card{
    background:var(--azul);

    border-radius:18px;

    padding:25px;

    text-align:center;

    min-height:120px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;
}

.sobre-card span{
    margin-top:10px;
}

/* ORGANIZAÇÃO */

.organizacao{
    padding:40px 0 80px;
}

.organizacao h2{
    text-align:center;
    margin-bottom:50px;
}

.organizacao-grid{

    display:grid;

    grid-template-columns:
        repeat(3,1fr);

    gap:30px;
}

.organizacao-card{

    background:white;

    border-radius:15px;

    padding:30px;

    text-align:center;

    box-shadow:
        0 5px 20px rgba(0,0,0,.1);
}

.organizacao-card img{
    width:120px;
    margin-bottom:20px;
}

.organizacao-card h3{
    margin-bottom:10px;
}

/* FAQ */

.faq{
    padding-bottom:80px;
}

.faq h2{
    text-align:center;
    margin-bottom:20px;
}

.faq-desc{
    text-align:center;
    margin-bottom:40px;
}

.faq-item{

    border:2px solid var(--azul);

    border-radius:10px;

    margin-bottom:15px;

    overflow:hidden;
}

.faq-question{

    width:100%;

    background:white;

    border:none;

    padding:20px;

    text-align:left;

    cursor:pointer;

    font-size:1rem;

    font-weight:600;
}

.faq-answer{

    display:none;

    padding:20px;

    background:#fafafa;
}

.faq-item.active .faq-answer{
    display:block;
}

/* RESPONSIVO */

@media(max-width:992px){

    .hero .container{
        flex-direction:column;
        text-align:center;
    }

    .sobre .container{
        grid-template-columns:1fr;
    }

    .organizacao-grid{
        grid-template-columns:1fr;
    }
}

@media(max-width:768px){

    .hero h1{
        font-size:2.5rem;
    }

    .sobre-cards{
        grid-template-columns:1fr;
    }
}